name: ruff

run-name: Ruff

on:
  push:

jobs:
  ruff:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.0

      - name: Lint
        uses: daveisfera/ruff-action@15b1a34433f56ad0e39ca7bbd1a18910c09e82bf
        with:
          version-file: "local/ruff_version.txt"

      - name: Format
        uses: daveisfera/ruff-action@15b1a34433f56ad0e39ca7bbd1a18910c09e82bf
        with:
          args: "format --check"
          version-file: "local/ruff_version.txt"
